header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 100vw;
  gap: 32px;

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 24px;
    width: 100%;

    img {
      height: 100px;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 80%;
    margin: 0 auto;

    .heading {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      margin-bottom: 24px;
      gap: 14px;

      h1 {
        font-size: 34px;
        color: var(--dark-grey);
      }

      .divider {
        height: 12px;
        width: 40%;
        background-color: var(--dark-grey);
      }
    }


    p {
      color: var(--light-grey);
    }
  }
}
